* {
    font-family: 'Lexend Deca', sans-serif;
}

#navtwitter {
    color: #1DA1F2;
}

#hero-image {
    
}

#home-hero {
    background-color: #151515;
    color: #ffffff;
    background: url('/img/home-hero.png');
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

@media only screen and (min-width: 960px) {
    .hidedesktop{display:none;}
    }

@media only screen and (max-width: 960px) {
    .hidemobile{display:none;}
    }